<meta charset="utf-8">
<title>Mail | Sending</title>
<!--[if lt IE 9]>
<script>
  document.createElement("header");
  document.createElement("footer");
  document.createElement("section");
  document.createElement("nav");
  document.createElement("main");
  document.createElement("aside");
  document.createElement("article");
</script>
<noscript>
  <strong>Warning</strong>
  <h2>Your browser does not support javascript</h2>
</noscript>
<![endif]-->
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
<link rel="stylesheet" href="/css/app.css">
<title>Mail | OoOO</title>
