<% layout('layout') %>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
      <form action="" role="form" method="post">
        <h2>Please signup <small>It's free and will be always.</small></h2>
        <hr class="colorgraph">
        <div class="row">
          <% if (errors.length > 0) { %>
          <div class="col-sm-12 col-xs-12 col-lg-12">
            <div class="alert alert-danger alert-dismissible text-center" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong> <%= errors %> </strong>
            </div>
          </div>
          <% } else if (success.length > 0) { %>
          <div class="col-sm-12 col-xs-12 col-lg-12">
            <div class="alert alert-success alert-dismissible text-center" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong> <%= success %> </strong>
            </div>
          </div>
          <% } %>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <input type="text" name="first_name" id="first_name" class="form-control input-lg" placeholder="Firstname" tabindex="1">
            </div>
          </div>
          <div class="col-xs-12 col-md-6 col-sm-6">
            <dic class="form-group">
              <input type="text" name="last_name" id="last_name" class="form-control input-lg" placeholder="Lastname" tabindex="2">
            </dic>
          </div>
        </div>
        <div class="form-group">
          <input type="text" name="username" id="username" class="form-control input-lg" placeholder="Username" tabindex="3">
        </div>
        <div class="form-group">
          <input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email" tabindex="4">
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-6 col-sm-6">
            <div class="form-group">
              <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password" tabindex="5">
            </div>
          </div>
          <div class="col-xs-12 col-md-6 col-sm-6">
            <div class="form-group">
              <input type="password" name="repeat_password" id="repeat_password" class="form-control input-lg" placeholder="Confirm Password" tabindex="6">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4 col-sm-3 col-md-3">
            <span class="button-checkbox">
              <button type="button" class="btn btn-primary" tabindex="7">I Agree</button>
              <input type="checkbox" name="t_and_c" id="t_and_c" class="hidden" value="1">
            </span>
          </div>
          <div class="col-xs-8 col-sm-9 col-md-9">
            By clicking <strong class="label label-primary">Register</strong>, you agree to the <a href="#" data-toggle="modal" data-target="#t_and_c_m">Terms and Condition</a>
            set out by this site, including our Cookie Use.
          </div>
        </div>
        <hr class="colorgraph">
        <div class="row">
          <div class="col-xs-12 col-md-6"><input type="submit" name="register" value="Register" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>
          <div class="col-xs-12 col-md-6"><a href="/admin/login" class="btn btn-default btn-block btn-lg">Sign In</a></div>
        </div>
      </form>
    </div>
  </div>
</div>
